{% extends "base.html" %}
{% block content %}

<!-- Contenedor principal para centrar el contenido y limitar el ancho -->
<div class="centered-form-wrapper">
    
    <!-- Componente Tabs de Bulma - Centrado -->
    <h2 class="has-text-centered mb-4">Selecciona una pestaña</h2>
    <hr>
    <div class="tabs is-centered is-large">
        <ul>
            <!-- Pestaña 1: Grupos (Enlace directo al formulario) -->

            <li>
                <a href="{{ url_for('index') }}"> <span class="pestañas">SERVICIOS ESPECIALES</span></a>
            </li>
            <!-- Pestaña 2: Instituciones y Empresas (Muestra contenido de tab) -->
            <li data-tab-target="#tab-companies">
                <a>
                    <span class="pestañas">
                        TRANSPORTE DE<span class="br-responsive"></span> ESTUDIANTES
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <!-- Contenido de las Pestañas -->
    
    <!-- Contenido de Grupos: ELIMINADO ya que es un enlace. -->
    
    <!-- Contenido de Instituciones y Empresas -->
    <div id="tab-companies" class="tab-content">
        <div class="has-text-centered p-4">
            <h2 class="title is-4 responsive-title">Servicios para Instituciones y Empresas</h2>
            <p class="subtitle is-5 has-text-grey responsive-subtitle">
                Aquí se mostrará la información o el formulario específico para **Instituciones y Empresas**.
                (Contenido aún por definir)
            </p>
        </div>
    </div>
    
</div>


<script src="{{ url_for('static', filename='js/base.js') }}"></script> 
{% endblock %}
